$primary-color: #D3AAEA;
$secondary-color: #9BD2EB;
$error-color: #cc2929;
$warn-color: #d1d13c;
$text-color: black;
$card-color: linear-gradient(to right top, #9bd2eb, #9bcbf3, #a7c2f7, #bbb7f5, #d3aaea);