/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
$primary-color : #2d8b56;
$secondary-color : #55af7c;
$tertiary-color : #6278ac;
$success-color : #538d63;
$warning-color : #ffc409;
$danger-color : #c5000f;
$light-color : #f6f8fc;
$medium-color : #5f5f5f;
$dark-color : #2f2f2f;
